<section class="flex flex-column" style="height:100vh;">
    <header class="ph2 pv2 pv4-ns w-100 bg-moon-gray mb6 flex items-center justify start">
        <h1 class="f2 f1-ns fw1 mv0 flex-auto">Photogrid Galleries</h1>
    </header>
    <form method="POST" action="/gallery" class="w-100 flex-auto flex items-center justify-center">
        <input class="f4 fw2 pa2 w6" name="title" placeholder="Title" type="text" />
        <button class="f4 fw2 pa2 bg-blue white ml2" type="submit">Create</button>
    </form>
</section>